:root {
  --background-main: #e5e5e5;
  --main-text: #757575;
  --secondary-text: #212121;
  --active-text: #2196f3;
  --white-color: #ffffff;
  --secondary-background: #2f303a;
  --third-bg-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--main-text);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-text);

  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--active-text);
}

li {
  list-style-type: none;
}

button {
  border: none;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-logo {
  display: flex;
  margin-right: 93px;
}

.logo {
  color: var(--active-text);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.nav {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover,
.nav:focus {
  color: var(--active-text);
}

.nav-items {
  display: flex;
}

.nav-items .nav:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail-item {
  fill: var(--main-text);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail:focus .icon-mail-item,
.icon-mail:hover .icon-mail-item {
  fill: var(--active-text);
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.nav-contacts .contacts:not(:last-child) {
  margin-right: 50px;
}

.header {
  background-color: var(--white-color);

  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.hero {
  background: rgba(89, 96, 173, 0.4);

  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.btn {
  background-color: var(--active-text);
  font-family: Roboto, sans-serif;
  color: var(--white-color);
  border: none;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  padding: 10px 32px;
  width: 200px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.nav-address {
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--secondary-background);

  padding-top: 60px;
  padding-bottom: 60px;
}

.nav-telm {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.feature-text {
  width: 270px;
}

.feature-items .feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-items {
  display: flex;
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-btn {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.team-title-images {
  display: flex;
}

.images {
  margin-bottom: 94px;
}

.images-text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.images-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.images-items {
  width: 370px;
  margin-right: 30px;
  position: relative;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.team {
  display: flex;
}

.team-personality {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: var(--white-color);
}

.team-personality > img {
  margin-bottom: 30px;
}

.team .team-personality:not(:last-child) {
  margin-right: 30px;
}

.team-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-link {
  display: flex;
  justify-content: center;
}

.team-link-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-item:hover,
.team-link-item:focus {
  background: var(--active-text);
}

.team-link-item:hover .team-link-icon,
.team-link-item:focus .team-link-icon {
  fill: var(--white-color);
}

.team-link-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 10px;
}

.profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 16px;
}

.team-bg {
  background-color: var(--third-bg-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.client {
  padding-bottom: 94px;
  padding-top: 94px;
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.client-btn {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  background-color: var(--white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-btn:hover,
.client-btn:focus {
  border-color: var(--active-text);
}

.client-btn:hover .client-logo,
.client-btn:focus .client-logo {
  fill: var(--active-text);
}

.client-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invite {
  margin-right: 93px;
}

.invite-title {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  margin-top: 12px;
  cursor: default;
}

.invite-list {
  display: flex;
}

.invite-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invite-link {
  display: flex;
  justify-content: center;
}

.invite-link-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invite-link-item:hover,
.invite-link-item:focus {
  background: var(--active-text);
}

.invite-link-item:hover .invite-link-icon,
.invite-link-item:focus .invite-link-icon {
  fill: var(--white-color);
}

.invite-link-icon {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  display: flex;
}

.current {
  color: var(--active-text);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  border-radius: 2px;
  background-color: var(--active-text);
  bottom: 0;
  left: 0;
}

.footer-address {
  display: block;
  max-width: 231px;
  margin-right: 70px;
}

.footer-address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--secondary-text);
}

.active-btn:hover,
.active-btn:focus {
  color: var(--white-color);
  background-color: var(--active-text);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-items .btn-item:not(:last-child) {
  margin-right: 8px;
}

.active-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-btn {
  color: var(--white-color);
  background-color: var(--active-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.example-box {
  display: block;
  width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-item {
  width: calc((100% - 90) / 3);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item:focus,
.examples-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  display: block;
  width: 322px;
}

.example-text {
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  display: block;
  width: 322px;
}

.examples-block {
  position: relative;
  overflow: hidden;
}

.examples-item:hover .examples-block-text {
  transform: translateY(0);
}

.examples-block-text {
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-footer {
  color: var(--white-color);
}

.footer-logo {
  font-style: normal;
  cursor: default;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-nav {
  display: block;
}

.footer-address .footer-nav:not(:last-child) {
  margin-bottom: 9px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: relative;
}

.close-btn {
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--active-text);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.subscribe-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;

  color: var(--white-color);
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: var(--secondary-background);
  margin-right: 12px;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  color: var(--white-color);
}

.subscribe-input:focus {
  border-color: var(--secondary-background);
}

.subscribe-form {
  position: relative;
}

.submit-btn {
  width: 200px;
  height: 50px;
  background: var(--active-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.subscribe-icon {
  margin-left: 10px;
}

.modal-title {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--secondary-text);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  display: block;
  height: 58px;
  position: relative;
  margin-bottom: 10px;

  color: var(--main-text);
}

.modal-label-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 20px;

  color: var(--main-text);
}

.modal-input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px;
  outline: none;
}

.modal-input:hover {
  cursor: pointer;
}

.modal-textarea:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--active-text);
}

.modal-label-property {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 11px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-text);
  position: relative;
  margin-bottom: 30px;
  user-select: none;
}

.modal-property {
  -webkit-appearance: none;
}

.modal-label-link {
  color: var(--active-text);
  text-decoration: underline;
  display: block;
  margin-left: 5px;
}

.checkbox-property {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-property:checked + .checkbox-property {
  background-color: var(--active-text);
  border: none;
}

.modal-property-icon {
  display: block;
  justify-content: center;
  align-items: center;
}

.modal-btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--active-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}
